.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image {
    background-image: url(/img/hero.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;
}