.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image {
    background-image: url(/img/hero.svg);
    background-position: 100% 100%;
    
    background-repeat: no-repeat;
    
    background-size: cover;
    
}

.hero2-image {
    background-image: url(/img/product-hero.svg);
    background-position: 100%;
    
    background-repeat: no-repeat;
    
    background-size: contain;
    
    
}

@media only screen and (max-width: 1000px) {
    .hero2-image {
        background-size: cover;
    }
    
  }

.space-section {
    margin: 150px 0;
}